/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 450px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu{
        padding: 2rem .25rem 4rem;
        
    }
    .nav__list{
        column-gap: 0;
    }

    .home__content{
        grid-template-columns: .25fr 3fr;

    }
    .home__blob{
        width: 180px;
    }

     

    .skills__title{
        font-size: var(--normal-font-size);
    }

    .qualification__data{
        gap: .5rem;
    }

    .project__img{
        width: 200px;
    }

    .portfolio__description{
        text-align: center;
    }
    
    .home__content{
    flex-direction: column;
    text-align: center;
    }
   
    .home__social-icon ,
     .home__scroll{display: none;}

}

/* For medium devices */
@media screen and (max-width: 568px){
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }
    
    .home__img{
        order: 1;
        justify-self: center;
        width: 300px;
    }


    .home__data{ text-align: center;}


    .about__container,
    .portfolio__content,
    .project__container,
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
        
    }

    .qualification__sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }

    

    .home__social{
        display: flex;
        margin-top: 10px;
        justify-content: space-between;


    }

    .home__content{
        flex-direction: column-reverse;
    }
 
    .home__scroll{text-align: center; justify-items: center;}

}

@media screen and (min-width: 768px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }
    .section__subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }
    .header,
    .main,
    .footer__container{
        padding: 0 1rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu{
        margin-left: auto;
    }

    .change-theme{
        margin: 0;
    }

    .home__container{
        row-gap: 5rem;
    }
    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home__blob{
        width: 270px;
    }
    .home__scroll{display: block;}
        
    .home__social{ }

    .home__scroll-button{
        margin-left: 3rem;
    }

    .about__container{
        column-gap: 5rem;
    }
    .about__img{
        width: 350px;
    }
    .about__description{
        text-align: initial;
    }
    .about__info{
        justify-content: space-between;
    }
    .about__buttons{
        justify-content: initial;
    }

    .qualification__tabs{
        justify-content: center;
    }
    .qualification__button{
        margin: 0 var(--mb-1);
    }
    .qualification__sections{
        grid-template-columns: .5fr;
    }

    .portfolio__data{
        text-align: center;
    }


    .portfolio__img{
        width: 320px;
    }
    .portfolio__content{
        align-items: center;
    }

    .project{
        text-align: initial;
    }
    
    .project__container{
        background-color: var(--first-color-second);
        border-radius: 1rem;
        padding: 3rem 2.5rem 0;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }
    .project__data{
        padding-top: .8rem;
    }

    .footer__container{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__bg{
        padding: 3rem 0 3.5rem;
    }
    .footer__links{
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer__socials{
        justify-self: flex-end;
    }
    .footer__copy{
        margin-top: 4.5rem;
    }

    .home__blob-img{width:350px ;}


    .home__social{
        display: flex;
        flex-direction: column;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer__container{
        padding: 0;
    }

    .home__blob{
        width: 320px;
    }
    .home__social{
        transform: translateX(-6rem);
    }



    .portfolio__content{
        column-gap: 5rem;
    }
    .swiper-portfolio-icon{
        font-size: 3.5rem;
    }
    .swiper-button-prev{
        left: -3.5rem;
    }
    .swiper-button-next{
        right: -3.5rem;
    }
    .swiper-container-horizontal >.swiper-pagination-bullets{
        bottom: -4.5rem;
    }

    .contact__inputs{
        grid-template-columns: repeat(2, 1fr);
    }
}











